@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.centering-wrapper {
    position: absolute;
    height: auto !important;
}

.pad-column {
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(100%, rgba(238,238,238,1)));
    background: -webkit-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
    background: -o-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
    background: linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(238,238,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee', GradientType=1 );
}

.content-column {
    min-height: 100%;
    padding: 0 24px 144px;
    background-color: white;
    position: relative;
}

.content-column-solid {
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 100%;
    background: rgba(255,64,128,1);
}

.content-column-gradient {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 512px;
    background: rgba(255,64,128,1);
    background: -moz-linear-gradient(top, rgba(255,64,128,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,64,128,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,64,128,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,64,128,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,64,128,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,64,128,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4080', endColorstr='#ffffff', GradientType=0 );}

.field-container {
    margin: 12px;
}

.field-container mat-form-field {
    width: 100%;
}

.mat-card {
    margin-top: 24px;
}